adf-finwealth01/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-finwealth01"
		},
		"ls_blob_finwealth01_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blob_finwealth01'"
		},
		"kvfinwealth01_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-finwealth01.vault.azure.net/"
		},
		"ls_sql_finwealth01_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-finwealth01-server.database.windows.net"
		},
		"ls_sql_finwealth01_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sql-db-finwealth01"
		},
		"ls_sql_finwealth01_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "gosain"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/kvfinwealth01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('kvfinwealth01_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_finwealth01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blob_finwealth01_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_accounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BLOB"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Accounts.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AccountID",
						"type": "String"
					},
					{
						"name": "ClientID",
						"type": "String"
					},
					{
						"name": "AccountType",
						"type": "String"
					},
					{
						"name": "OpenDate",
						"type": "String"
					},
					{
						"name": "BaseCurrency",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_advisor')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BLOB"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Advisors.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AdvisorID",
						"type": "String"
					},
					{
						"name": "AdvisorName",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "JoinDate",
						"type": "String"
					},
					{
						"name": "ExperienceYears",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_benchmarks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BLOB"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Benchmarks.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "BenchmarkCode",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Currency",
						"type": "String"
					},
					{
						"name": "IndexValueDate",
						"type": "String"
					},
					{
						"name": "IndexValue",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_cashflows')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BLOB"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Cashflows.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CashflowID",
						"type": "String"
					},
					{
						"name": "AccountID",
						"type": "String"
					},
					{
						"name": "CashflowDate",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_clients')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BLOB"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Clients.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ClientID",
						"type": "String"
					},
					{
						"name": "ClientName",
						"type": "String"
					},
					{
						"name": "Segment",
						"type": "String"
					},
					{
						"name": "RiskProfile",
						"type": "String"
					},
					{
						"name": "PrimaryAdvisorID",
						"type": "String"
					},
					{
						"name": "ClientSince",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_fees')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BLOB"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Fees.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FeeID",
						"type": "String"
					},
					{
						"name": "AccountID",
						"type": "String"
					},
					{
						"name": "FeeDate",
						"type": "String"
					},
					{
						"name": "FeeType",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_holdings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BLOB"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Holdings.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AccountID",
						"type": "String"
					},
					{
						"name": "SecurityID",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "ValuationDate",
						"type": "String"
					},
					{
						"name": "MarketValue",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_performance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BLOB"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Performance.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AccountID",
						"type": "String"
					},
					{
						"name": "MonthStart",
						"type": "String"
					},
					{
						"name": "ReturnPct",
						"type": "String"
					},
					{
						"name": "BenchmarkCode",
						"type": "String"
					},
					{
						"name": "BenchmarkReturnPct",
						"type": "String"
					},
					{
						"name": "ExcessReturnPct",
						"type": "String"
					},
					{
						"name": "CumulativeReturnPct",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_prices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BLOB"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Prices.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SecurityID",
						"type": "String"
					},
					{
						"name": "PriceDate",
						"type": "String"
					},
					{
						"name": "ClosePrice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_securities')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BLOB"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Securities.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SecurityID",
						"type": "String"
					},
					{
						"name": "Ticker",
						"type": "String"
					},
					{
						"name": "SecurityName",
						"type": "String"
					},
					{
						"name": "AssetClass",
						"type": "String"
					},
					{
						"name": "Sector",
						"type": "String"
					},
					{
						"name": "Currency",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_trades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BLOB"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Trades.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TradeID",
						"type": "String"
					},
					{
						"name": "AccountID",
						"type": "String"
					},
					{
						"name": "SecurityID",
						"type": "String"
					},
					{
						"name": "TradeDate",
						"type": "String"
					},
					{
						"name": "SettleDate",
						"type": "String"
					},
					{
						"name": "Side",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_finwealth01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_finwealth01_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_finwealth01_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_finwealth01_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "kvfinwealth01",
							"type": "LinkedServiceReference"
						},
						"secretName": "secreat-sql-password"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kvfinwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_transform_stg_to_dwh')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_load_dim_advisor",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_load_dim_advisor]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_load_dim_benchmark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_load_dim_advisor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_load_dim_benchmark]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_load_dim_security",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_load_dim_benchmark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_load_dim_security]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_load_dim_account",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_load_dim_client",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_load_dim_account]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_load_fact_holding",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_load_dim_account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_load_fact_holding]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_load_dim_client",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_load_dim_security",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_load_dim_client]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_load_fact_cashflow",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_load_dim_account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_load_fact_cashflow]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_load_fact_performance",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_load_dim_account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_load_fact_performance]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_load_fact_trade",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_load_dim_account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_load_fact_trade]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_load_fact_fee",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_load_dim_account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_load_fact_fee]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_load_fact_security_price",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_load_dim_account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_load_fact_security_price]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dp_logsuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_load_fact_holding",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_load_fact_trade",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_load_fact_cashflow",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_load_fact_fee",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_load_fact_security_price",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_load_fact_performance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_log_transform_summary]",
							"storedProcedureParameters": {
								"status": {
									"value": "SUCCESS",
									"type": "String"
								},
								"error_message": {
									"value": "none"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_logfailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_load_fact_holding",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "sp_load_fact_trade",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "sp_load_fact_cashflow",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "sp_load_fact_fee",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "sp_load_fact_security_price",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "sp_load_fact_performance",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_log_transform_summary]",
							"storedProcedureParameters": {
								"status": {
									"value": "FAILED"
								},
								"error_message": {
									"value": "none"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_stg_accounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountID",
						"type": "varchar"
					},
					{
						"name": "ClientID",
						"type": "varchar"
					},
					{
						"name": "AccountType",
						"type": "varchar"
					},
					{
						"name": "OpenDate",
						"type": "varchar"
					},
					{
						"name": "BaseCurrency",
						"type": "varchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "stg_load_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "stg_accounts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_stg_advisors')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AdvisorID",
						"type": "varchar"
					},
					{
						"name": "AdvisorName",
						"type": "varchar"
					},
					{
						"name": "Region",
						"type": "varchar"
					},
					{
						"name": "JoinDate",
						"type": "varchar"
					},
					{
						"name": "ExperienceYears",
						"type": "varchar"
					},
					{
						"name": "stg_load_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "stg_advisors"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_stg_benchmarks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BenchmarkCode",
						"type": "varchar"
					},
					{
						"name": "Description",
						"type": "varchar"
					},
					{
						"name": "Currency",
						"type": "varchar"
					},
					{
						"name": "IndexValueDate",
						"type": "varchar"
					},
					{
						"name": "IndexValue",
						"type": "varchar"
					},
					{
						"name": "stg_load_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "stg_benchmarks"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_stg_cashflows')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CashflowID",
						"type": "varchar"
					},
					{
						"name": "AccountID",
						"type": "varchar"
					},
					{
						"name": "CashflowDate",
						"type": "varchar"
					},
					{
						"name": "Type",
						"type": "varchar"
					},
					{
						"name": "Amount",
						"type": "varchar"
					},
					{
						"name": "stg_load_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "stg_cashflows"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_finwealth01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_stg_clients')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ClientID",
						"type": "varchar"
					},
					{
						"name": "ClientName",
						"type": "varchar"
					},
					{
						"name": "Segment",
						"type": "varchar"
					},
					{
						"name": "RiskProfile",
						"type": "varchar"
					},
					{
						"name": "PrimaryAdvisorID",
						"type": "varchar"
					},
					{
						"name": "ClientSince",
						"type": "varchar"
					},
					{
						"name": "Country",
						"type": "varchar"
					},
					{
						"name": "stg_load_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "stg_clients"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_finwealth01')]"
			]
		}
	]
}