adf-finwealth01/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-finwealth01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_stg_holdings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountID",
						"type": "varchar"
					},
					{
						"name": "SecurityID",
						"type": "varchar"
					},
					{
						"name": "Quantity",
						"type": "varchar"
					},
					{
						"name": "ValuationDate",
						"type": "varchar"
					},
					{
						"name": "MarketValue",
						"type": "varchar"
					},
					{
						"name": "stg_load_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "stg_holdings"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_stg_performance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountID",
						"type": "varchar"
					},
					{
						"name": "MonthStart",
						"type": "varchar"
					},
					{
						"name": "ReturnPct",
						"type": "varchar"
					},
					{
						"name": "BenchmarkCode",
						"type": "varchar"
					},
					{
						"name": "BenchmarkReturnPct",
						"type": "varchar"
					},
					{
						"name": "ExcessReturnPct",
						"type": "varchar"
					},
					{
						"name": "CumulativeReturnPct",
						"type": "varchar"
					},
					{
						"name": "stg_load_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "stg_performance"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_stg_prices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SecurityID",
						"type": "varchar"
					},
					{
						"name": "PriceDate",
						"type": "varchar"
					},
					{
						"name": "ClosePrice",
						"type": "varchar"
					},
					{
						"name": "stg_load_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "stg_prices"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_stg_securities')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SecurityID",
						"type": "varchar"
					},
					{
						"name": "Ticker",
						"type": "varchar"
					},
					{
						"name": "SecurityName",
						"type": "varchar"
					},
					{
						"name": "AssetClass",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "varchar"
					},
					{
						"name": "Currency",
						"type": "varchar"
					},
					{
						"name": "Region",
						"type": "varchar"
					},
					{
						"name": "stg_load_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "stg_securities"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_stg_trades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_finwealth01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TradeID",
						"type": "varchar"
					},
					{
						"name": "AccountID",
						"type": "varchar"
					},
					{
						"name": "SecurityID",
						"type": "varchar"
					},
					{
						"name": "TradeDate",
						"type": "varchar"
					},
					{
						"name": "SettleDate",
						"type": "varchar"
					},
					{
						"name": "Side",
						"type": "varchar"
					},
					{
						"name": "Price",
						"type": "varchar"
					},
					{
						"name": "Quantity",
						"type": "varchar"
					},
					{
						"name": "Amount",
						"type": "varchar"
					},
					{
						"name": "stg_load_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "stg_trades"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_AllSources')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "script_truncate_allstg",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "TRUNCATE TABLE stg.stg_advisors;\nTRUNCATE TABLE stg.stg_clients;\nTRUNCATE TABLE stg.stg_accounts;\nTRUNCATE TABLE stg.stg_securities;\nTRUNCATE TABLE stg.stg_benchmarks;\nTRUNCATE TABLE stg.stg_cashflows;\nTRUNCATE TABLE stg.stg_fees;\nTRUNCATE TABLE stg.stg_holdings;\nTRUNCATE TABLE stg.stg_performance;\nTRUNCATE TABLE stg.stg_prices;\nTRUNCATE TABLE stg.stg_trades;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "copy_accounts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "script_truncate_allstg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ClientID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClientID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OpenDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OpenDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BaseCurrency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BaseCurrency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_accounts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stg_accounts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_advisors",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "script_truncate_allstg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AdvisorID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AdvisorID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AdvisorName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AdvisorName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "JoinDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JoinDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ExperienceYears",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ExperienceYears",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_advisor",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stg_advisors",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_clients",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "script_truncate_allstg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ClientID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClientID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ClientName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClientName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Segment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Segment",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RiskProfile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RiskProfile",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PrimaryAdvisorID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PrimaryAdvisorID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ClientSince",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClientSince",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_clients",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stg_clients",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_securities",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "script_truncate_allstg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SecurityID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SecurityID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Ticker",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ticker",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SecurityName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SecurityName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AssetClass",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AssetClass",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sector",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sector",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_securities",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stg_securities",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_benchmarks",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "script_truncate_allstg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BenchmarkCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BenchmarkCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IndexValueDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IndexValueDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IndexValue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IndexValue",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_benchmarks",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stg_benchmarks",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_cashflows",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "script_truncate_allstg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CashflowID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CashflowID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CashflowDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CashflowDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_cashflows",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stg_cashflows",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_fees",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "script_truncate_allstg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FeeID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FeeID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FeeDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FeeDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FeeType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FeeType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_fees",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stg_fees",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_holdings",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "script_truncate_allstg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SecurityID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SecurityID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ValuationDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ValuationDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MarketValue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MarketValue",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_holdings",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stg_holdings",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_performance",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "script_truncate_allstg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MonthStart",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MonthStart",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ReturnPct",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReturnPct",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BenchmarkCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BenchmarkCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BenchmarkReturnPct",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BenchmarkReturnPct",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ExcessReturnPct",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ExcessReturnPct",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CumulativeReturnPct",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CumulativeReturnPct",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_performance",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stg_performance",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_prices",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "script_truncate_allstg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SecurityID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SecurityID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PriceDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PriceDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ClosePrice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClosePrice",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_prices",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stg_prices",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_trades",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "script_truncate_allstg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TradeID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TradeID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SecurityID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SecurityID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TradeDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TradeDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SettleDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SettleDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Side",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Side",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_trades",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stg_trades",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_logsuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_clients",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_accounts",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_advisors",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_securities",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_benchmarks",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_cashflows",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_fees",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_holdings",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_performance",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_prices",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_trades",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_log_ingest_summary]",
							"storedProcedureParameters": {
								"status": {
									"value": "SUCCESS",
									"type": "String"
								},
								"error_message": {
									"value": "NONE",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_logfailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_accounts",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "copy_advisors",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "copy_clients",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "copy_securities",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "copy_benchmarks",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "copy_cashflows",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "copy_fees",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "copy_holdings",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "copy_performance",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "copy_prices",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "copy_trades",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_log_ingest_summary]",
							"storedProcedureParameters": {
								"status": {
									"value": "FAILED",
									"type": "String"
								},
								"error_message": {
									"value": "one or more copy action failed",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql_finwealth01",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql_stg_securities')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_stg_holdings')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_stg_performance')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_stg_prices')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_stg_trades')]"
			]
		}
	]
}